@use "../styles/variables" as *;
@use "../styles/mixins" as *;

body {
  margin: 0;
  font-family: sans-serif;
  background: $bg;
  color: $text;
}

a {
  color: #000;
}

.container {
  background: $containerBackground;
  padding: 1rem 2rem;
  margin: 2rem;
  border-radius: 10px;
  text-align: center;
}

.footer {
  border: none;
  padding: 2rem;
  margin: 0;
  border-radius: 0;
}

.cta {
  display: flex;
  flex-direction: column;

  .btn {
    padding: 1rem;
    background-color: $cardBackground;
    margin: 1rem auto;
    width: 10rem;
    border-radius: 10px;
    text-decoration: none;
  }
}

.card {
  background-color: $cardBackground;
  padding: 1rem 2rem 2rem;
  border-radius: 10px;
  margin: 1rem;
  text-align: left;

  h4 {
    margin: 1rem 0;
  }

  .projectUrls {
    display: flex;
    flex-direction: column;

    a {
      margin: .5rem 0;
      font-weight: bold;
    }
  }
}

.sectionLinks {
  div {
    display: flex;
    flex-direction: column;
  }
}